
<mat-card class="c1">
    <mat-card-title class="ctitle">VACAY TIME</mat-card-title>
    <img src="https://a.cdn-hotels.com/gdcs/production97/d402/6baff29c-e43b-4caf-a9e8-5dcf1279dea0.jpg" height="200" width="100%" alt="beach">
    <div id="button-holder"><mat-card-header id="header1">#treatyoself</mat-card-header><mat-card-header id="header1">#chillin</mat-card-header></div>
    <mat-card-content id="content1">Just chillin on the beach y'all</mat-card-content>
<div id="button-holder">
        <button mat-button>LIKE</button><button mat-button>SHARE</button>
        </div>
<mat-checkbox>Subscribe to my newsletter</mat-checkbox>
<div id="foot"></div>
</mat-card>


